/* Sections */
#home {
    padding-bottom: 70px;
    background-color:#A9CBD5;
}

#education {
    padding-bottom: 50px;
    padding-top:50px;
}

#projects {
    padding-bottom: 100px;
    padding-top: 50px;
}

#contact {
    padding-bottom: 80px;
    background-color: lightgray;
}

h2 {
    padding-left: 0px;
    font-family: "Jost", sans-serif;
    text-align: center;
    font-size: 30px;
}

body {
    margin: 0px;
}

p {
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-size: 20px;
}

li {
    font-family: Jost;
}

/* Navigation Bar */

nav {
    overflow: hidden;
    background-color: aliceblue;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aliceblue;
    top: 0;
    width: 100%;
    position: fixed;
}

nav li {
    font-family: "Jost", sans-serif;
    float: left;
}

nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
}

nav a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: #ADDAEA;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 50px;
}

.intro-container {
    position: relative;
}

.intro-text {
    position: relative;
    font-size: 30px;
    padding-top: 100px;
    font-family: Playfair Display;
    color: white;
    text-align: left;
}

.fname-text {
    font-size: 83px;
    font-family: Jost;
    padding-left: 50px;
    color: white;
    text-align: left;
    margin-top: -5px;
    margin-bottom: -35px;
}

.lname-text {
    font-size: 83px;
    font-family: Jost;
    padding-left: 90px;
    color: white;
    text-align: left;
    margin-top: 0px;
}

.thanks-text {
    text-align: left;
    color: white;
    font-family: Jost;
    font-size: 22px;
    padding-top: 2px;
    padding-left: 150px;
}

/* Images */
div.me-image {
    flex: 10;
    padding-left: 250px;
    padding-bottom: 100px;
}

.me-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -15px 15px #1a7fa1;
    margin-top: 80px;
    width:380px;
}

.csulb {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.computer-image {
    height: 170px;
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.histogram-image {
    height: 200px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cards-image {
    height: 200px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logoscontainer img {
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

/* Scroll Down Button */
button {
    background-color: #A9CBD5;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-container button:hover {
    color: #1a7fa1;
}

.button-container {
    margin-top: 630px;
    text-align: center; 
}

.about-me-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Columns */
* {
    box-sizing: border-box;
}

.intro-column {
    float: left;
    width: 50%;
    padding: 10px;
}

.education-column {
    float: left;
    width: 50%;
    padding: 10px;
}
  
.projects-column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.education-row:after, .projects-row:after {
    content: "";
    display: table;
    clear: both;
}

.list-container {
    text-align: center;
    background-color: #f4f9fb;
    margin: auto;
    border: solid 3px #ADDAEA;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 5px;
}

.second-column {
    display: inline-block;
    width: 40%;
    text-align: center;
    vertical-align: top;
}

ul.list {
    display: inline-block;
    text-align: left;
    padding: 0;
}

.projects-container {
    text-align: center;
    margin: auto;
    border: solid 5px lavender;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 5px;
}

.projects-container:hover {
    background-color: #F0EDF2;
}

.projects-text {
    max-width: 300px;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    font-family: Jost;
    font-size:15px;
}

.logoscontainer {
    text-align: center;
}




